.site-options {
    /* position: absolute; */
    padding: 10px;
    display: flex;
    gap: .2rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.site-options div {
    position: relative;
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 99;
}

.site-options div:not(.logo) {
    background: var(--color-blur);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    padding: 0.5rem;
}

.logo {
    margin-right: auto;
}

.logo img {
    width: 100%;
    filter: drop-shadow(2px 2px 2px black);
    height: auto;
    cursor: pointer;
}

.site-options .language {
    font-size: 14px;
    overflow: visible;
}

.site-options-icon {
    position: absolute;
    cursor: pointer;
}

.site-options-icon.moon {
    color: #2b4578;
}

.site-options-icon.sun {
    color: #f8f05e;
}

.site-options .sun.show {
    transform: rotate(0deg);
    transition: all 1s ease;
}

.site-options .sun.hidden {
    transform: rotate(90deg);
    transform-origin: 50% 200%;
    transition: all 1s ease;
}

.site-options .moon.show {
    transform: rotate(0deg);
    transition: all 1s ease;
}

.site-options .moon.hidden {
    transform: rotate(-90deg);
    transform-origin: 50% 200%;
    transition: all 1s ease;
}

.language-options {
    position: absolute;
    top: calc(100% + 10px);
    flex-direction: column;
    width: max-content;
    right: 0;
    display: flex;
    gap: .5rem;
    background: var(--color-blur);
    backdrop-filter: blur(20px);
    padding: 0.5rem;
    border-radius: 1rem;
    transform: scaleY(0);
    transition: var(--transition);
    transform-origin: 0 0;
}

.language-options.show {
    transform: scaleY(100%);
    transition: var(--transition);
}

.language-options::after {
    content: '';
    position: absolute;
    right: 20px;
    top: -5px;
    border: 5px solid;
    border-color: transparent transparent var(--color-blur) var(--color-blur);
    transform: rotate(135deg);
}

.language-option {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: var(--color-bg);
    border-radius: 5px;
    padding: 0.5rem;
}

.language-option:hover {

    background-color: var(--color-bg-variant);

}

.language-option span {
    display: block;
}

/* ======== medias sm ================================================ */

@media screen and (max-width: 600px) {
    .site-options {
        width: 100%;
    }
}