header {
    height: max-content;
    /* padding-top: 5rem; */
    /* overflow: hidden; */
}

.header-container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header-container h1 {
    white-space: nowrap;
}


/* ========= media md ========================================= */

@media screen and (max-width: 1024px) {
    header {
        /* height: 68vh; */
    }
}


/* ========= media sm ========================================= */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
}