.certificates-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}



/* ======= media md ========================================= */

@media screen and (max-width: 750px) {
    .certificates-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}


/* ======= media sm ========================================= */

/* @media screen and (max-width: 600px) {
    .certificates-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
} */