.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}




/* ======= media md ========================================= */

@media screen and (max-width: 1024px) {
    .skills-container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}


/* ======= media sm ========================================= */

@media screen and (max-width: 600px) {
    .skills-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}