nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav div span {
    font-size: 12px;
    opacity: .5;
}

a.active+span {
    opacity: 1;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}