.service-list {
    padding: 2rem;
}

.service-list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service-list-icon {
    color: var(--color-primary);
    margin-top: 2px;
}

.service-list p {
    font-size: 0.9rem;
}